@import 'bootstrap/dist/css/bootstrap.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #C82525;
  min-height: 100%;
}

.signin-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img{
  justify-content: center;
}

.btn-accent{
  background-color: #F4C4C4;
  border: #F4C4C4;
  width: 100px;
}

.btn-accent:hover{
  background-color: #eb9494;
  border: #eb9494;
  width: 100px;
}

.btn-accent:focus{
  background-color: #F4C4C4;
  border: #F4C4C4;
  width: 100px;
}

.btn-accent:active{
  background-color: #F4C4C4;
  border: #F4C4C4;
  width: 100px;
}

.btn-neutral:hover{
  background-color: #000000;
  border: #000000;
  color: white;
}

.navbarSecondary{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn{
  margin-left: 20px;
}

.navButton{
  width: 200px;
  margin-top: 20px;
}

.navButton:hover{
  width: 200px;
  margin-top: 20px;
}

.navButton:active{
  width: 200px;
  margin-top: 20px;
}

.navButton:focus{
  width: 200px;
  margin-top: 20px;
}

.restSuggestor{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 40px;
}

.restSuggestor > .prose{
  width: 100%;
  margin-bottom: 20px;
}

#all-restaurants{
  color: white;
  text-decoration: underline;
  text-align: center;
}

.restCards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.glass{
  background-color: #f4c4c470;
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
}

.card-title{
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.neighborhood{
  text-align: center;
  font-size: 16px;
}

.cuisine{
  text-align: center;
  font-size: 16px;
}

.rest-image{
  height: 200px;
  width: 300px;
}

.btn-nobkgrd{
  background-color: none;
  padding-bottom: 10px;
  padding-right: 15px;
}

.btn-image{
  width: 25px;
}

.restSuggestBtn{
  width: 300px;
}

.restSuggestBtn:hover{
  width: 300px;
}

.restSuggestBtn:focus{
  width: 300px;
}

.restSuggestBtn:active{
  width: 300px;
}

.filterButtons{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#want-to-visit, #visited, #all, #favorites{
  background-color: black;
  color: #C82525;
  width: 150px;
  opacity: 70%;
}

.input{
  margin: 10px;
}

.selectFields{
  min-width: 200px;
}

select{
  min-width:400px;
  margin-bottom: 10px;
}

.formFields {
  width: 400px;
  text-align: center;
}

.formContainer {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.submit-btn{
  width: 200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.submit-btn:hover{
  width: 200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.submit-btn:focus{
  width: 200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.submit-btn:active{
  width: 200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.favorite{
  padding-top: 10px;
  padding-left: 15px;
}
